
.main__quick-list a {
    text-decoration: none;
}

.main__quick-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1em 1em;
    align-items: center;
}

.main__quick-menu .main__quick-list li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.main__quick-menu .main__quick-list li p {
    margin-top: 10px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--fonte-secundario);
    letter-spacing: -0.5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--cor-primaria);
    background-clip: text;
    text-decoration: none;
}

.main__quick-menu .main__quick-list span {
    display: inline-flex;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: var(--branco);
    background-position: 50%;
    background-repeat: no-repeat;
    -khtml-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main__quick-menu .main__quick-list .main__quick-cabelo span {
    background-image: url("/assets/image/BanhoIcon.svg");
}

.main__quick-menu .main__quick-list .main__quick-banho span {
    background-image: url("/assets/image/SoapIcon.png");
}

.main__quick-menu .main__quick-list .main__quick-pele span {
    background-image: url("/assets/image/SkincareIcon.svg");
}

.main__quick-menu .main__quick-list .main__quick-maquiagem span {
    background-image: url("/assets/image/MakeupIcon.png");
}

.main__quick-menu .main__quick-list .main__quick-perfume span {
    background-image: url("/assets/image/PerfumIcon.png");
}

.main__quick-menu .main__quick-title h2::after {
    content: '';
    position: absolute;
    bottom: 16px;
    right: 10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: var(--cor-terciaria);
}

.main__title {
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
    padding-right: 0.5em;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-size: 48px;
    font-family: var(--fonte-terciaria);
    line-height: 1.2;
}

.main__quick-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    gap: 1em;
    list-style: none;
}

.about {
    margin: 0 2em;
    border: 4px solid var(--cor-primaria);
}

.about__description {
    margin: 0.5em 1em;
    text-indent: 1.5em;
    text-align: justify;
    font-family: var(--fonte-secundario);
}

.initial__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    width: 50% ;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-terciaria);
    opacity: 1;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 14px 20px 1em 0px var(--cor-primaria);
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.popup__div {
    display: flex;
    flex-direction: column;
}

.popup__img {
    display: flex;
    width: 40px;
    padding-bottom: 0.5em;
}

.popup__title {
    font-size: 32px;
    font-family: var(--fonte-terciaria);
    font-weight: 700;
}

.popup__description {
    font-size: 16px;
    font-family: var(--fonte-primaria);
    line-height: 1.2;
}

.popup__description-bold {
    font-weight: 700;
}

.btn__popup {
    display: block;
    text-align: center;
    padding: 0.75em 4em;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    font-weight: 700;
    margin: 1em auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn__popup:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

@media screen and (min-width: 768px) {

    .main__quick-menu {
        display: table;
        width: 100%; 
        margin: 1em 2em;
        box-sizing: border-box;
        position: relative;
        max-width: 95vw;
        min-width: 95vw;
    }

    .main__quick-title {
        display: table-cell;
        vertical-align: middle;
        width: 415px;
        padding-top: 8px;
        text-align: left;
    }

    .popup {
        width: 40vw;
        height: auto;
        padding: 1em;
    }

    .popup__title {
        font-size: 48px;
    }

    .popup__description {
        font-size: 24px;
    }

    .popup__img {
        width: 60px;
    }

}