.carousel__title {
    color: var(--cor-primaria);
    vertical-align: middle;
    font-family: var(--fonte-secundario);
    text-align: center;
    text-decoration-style: wavy;
    text-decoration-color: var(--cor-terciaria);
    text-decoration-line: underline;
    font-weight: 700;
    padding: 1em 0 1em 0;
}

.carousel__title a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 48px;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-slide,
.swiper-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 0.15em solid var(--cor-primaria);
    padding: 0.5em;
    overflow: hidden;
    background-color: var(--cor-de-fundo);
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.swiper__title {
    text-align: center;
    text-wrap: wrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
    -webkit-text-stroke-width: medium;
}

.swiper_price {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    padding-left: 0.5em;
    overflow: hidden;
}

.price-bold {
    font-family: var(--fonte-secundario);
    font-size: 18px;
    color: var(--cor-quinternaria);
}

.action__btn {
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
    border: 0.25em solid var(--cor-terciaria);
    border-radius: 6px;
    background-color: transparent;
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

}

.action__btn:hover {
    padding: 0.5em;
    border-radius: 6px;
    background-color: var(--cor-terciaria);
    color: var(--cor-de-fundo);
    font-weight: 700;
    text-transform: uppercase;
}

.swiper-wrapper-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em;
}

.swiper-card {
    width: calc(50% - 20px);
    box-sizing: border-box;
    margin: 10px;
}

@media screen and (min-width: 768px) {

    .carousel__container {
        display: flex;
        margin: 0 1em 2em 1em;
        align-items: center;
    }

    .carousel__title {
        font-size: 48px;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 90%;
    }

    .swiper__title {
        font-size: 24px;
    }

    .swiper_price {
        text-align: left;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        padding-left: 0.5em;
        overflow: hidden;
    }

    .price-bold {
        font-size: 24px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .swiper-card {
        width: calc(33.33% - 20px);
        box-sizing: border-box;
        margin: 10px;
    }

    .action__btn {
        font-size: 18px;
    }

}
